@model IEnumerable<AutoPharma.Models.Medicine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-3 bg-light">
        <div class="col-md-12 text-center">
<h1>Medicines List</h1>

<p>
   <button type="button" class="btn btn-primary">  <a style="color:black" asp-action="Create">Create New</a></button>
</p>
</div>
</div>
<div class="row">
@foreach (var item in Model) {
        <div class="col-sm-3">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    
    <h4 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h4>
    <h6 class="card-title"> Count:  @Html.DisplayFor(modelItem => item.Dose)  </h6>
    <h6 class="card-title">   @Html.DisplayFor(modelItem => item.MOHPrice)  JD</h6>

    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary"><a style="color:black" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
  <button type="button" class="btn btn-secondary"><a style="color:black" asp-action="Details" asp-route-id="@item.Id">Details</a></button>
  <button type="button" class="btn btn-info"><a  style="color:black" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
</div>
  </div>
</div>
</div>
}
</div>


