@model AutoPharma.Models.Branch

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
 <div class="container bg-light">
        <div class="col-md-12 text-center">
    <h2>Branch  @Html.DisplayFor(model => model.Address)</h2>
    </div>
    </div>

    <hr />
   

    <h3>Branch Medicines: </h3>
    
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    Medicine Name:
                </th>
                <th>
                    Count:
                </th>
                <th>
                    #
                </th>
                <th>
                    #
                </th>

                 <th>
                    #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BranchMedicines)
            {
                <tr>
                     <td>
                        <img height=50px width=50px src="@Html.DisplayFor(x => item.Medicine.ImageUri)" ></img>
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Medicine.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Count)
                    </td>
                    <td>
                        <a asp-controller="Medicines" asp-action="Details" asp-route-id="@item.MedicineId">Medicine Info</a>
                    </td>
                    <td>
                        <a asp-controller="BranchMedicines" asp-action="Details" asp-route-id="@item.Id">Branch Medicine Info</a>
                    </td>
                </tr>


            }
        </tbody>
    </table>


    <h3>Branch Pharmacists: </h3>
    <p> Total Pharmacists in this Branch: @Model.Pharmacists.Count</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Pharmacist Name:
                </th>
                <th>
                    Email:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pharmacist in Model.Pharmacists)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => pharmacist.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => pharmacist.Email)
                    </td>
                    <td>
                        <a asp-controller="Auth" asp-action="Edit" asp-route-id="@pharmacist.Id">EDIT</a>
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>

<div class="container bg-light">
        <div class="col-md-12 text-center">
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success mx-1 ">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-success mx-1 ">Back to List</a>
</div>
</div>
</div>
