@model AutoPharma.Models.Branch

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<h6> Fixes in this page</h6>
<p>implement full name for users, instead of usernames</p>
<p>make it available to change pharmacist branch or remove him from the branch</p>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>

    <h3>Branch Medicines: </h3>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Medicine Name:
                </th>
                <th>
                    Count:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BranchMedicines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.Medicine.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.Count)
                    </td>
                    <td>
                        <a asp-controller="Medicines" asp-action="Details" asp-route-id="@item.MedicineId">Medicine Info</a>
                    </td>
                    <td>
                        <a asp-controller="BranchMedicines" asp-action="Details" asp-route-id="@item.Id">Branch Medicine Info</a>
                    </td>
                </tr>


            }
        </tbody>
    </table>


    <h3>Branch Pharmacists: </h3>
    <p> Total Pharmacists in this Branch: @Model.Pharmacists.Count</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Pharmacist Name:
                </th>
                <th>
                    Email:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pharmacist in Model.Pharmacists)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => pharmacist.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => pharmacist.Email)
                    </td>
                    <td>
                        edit/delete/details
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
