@model IEnumerable<AutoPharma.Models.BranchMedicine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

</table>
<!DOCTYPE html>
<html>
<head>
<title>Medicines In All Branch</title>
</head>
<body>
                  <div class="row justify-content-center">

<div class="btn-group p-3" role="group" aria-label="Basic example">

<h1> Medicines In All Branch</h1>
 </div>
 </div>
                <div class="row justify-content-center">

<div class="btn-group p-3" role="group" aria-label="Basic example">
   <button type="button" class="btn btn-outline-success mx-1">
  <a asp-action="ChooseCity">Go to branch</a>
 </button>
    <button type="button" class="btn btn-outline-secondary mx-1">
  <a asp-action="Create">Create New</a>
 </button>
  </div>
 </div>
 
@*<p>
    @using(Html.BeginForm("Index","BranchMedicine",FormMethod.Get))
    {
    <b>Search For Medicine by Name or Information</b>
    <br />
    @Html.TextBox("Search") <input type="submit" value="Search" />

    }

    </p>*@
<table class="table">
     <thead class="table-dark">

        <tr>
             <th>
               Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurPrice)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Medicine)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th><form class="form-inline my-2 my-lg-0" asp-controller="BranchMedicines" asp-action="Filter" asp-route-id="@ViewBag.secondId" style="padding-right: 25px;">
    <input name="searchString" type="text" class="form-control" placeholder="Search for a Medicine..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search">Search</i></button>
</form></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                 <td>
                  <img swidth="50" height="60" src="@Html.DisplayFor(modelItem => item.Medicine.ImageUri)"></img>  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicine.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OurPrice)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Location.Id)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Medicine.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.Address)
                </td>
                <td>
                   <button class="btn btn-outline-success mx-1 " type="submit"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
               <button class="btn btn-outline-secondary mx-1" type="submit"><a asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                <button class="btn btn-outline-warning mx-1" type="submit"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                </td>
            </tr>
        }
    </tbody>

</body>
</html>